<link rel="stylesheet" href="styles/main.css">

<%- include("partials/header.ejs") %>

    <div class="form-container">
        
        <form action="/submit" method="POST">

            <div class="name-container input-container">
                <h3>FULL NAME</h3>
                <input type="text" name="fname" placeholder="First name">
                <input type="text" name="lname" placeholder="Last name">
            </div>

            <div class="title-container input-container">
                <h3>TITLE</h3>
                <input  type="text" name="title" placeholder="Describe your post">
            </div>

            <div class="content-container input-container">
                <h3>BLOG CONTENT</h3>
                <textarea name="content" wrap="soft" placeholder="What happened today?"></textarea>
            </div>
            
            <div class="submit-container input-container">
                <input type="submit" value="POST">
            </div>
            
            
        </form>
    </div>

<%- include("partials/footer.ejs") %>