<link rel="stylesheet" href="styles/main.css">

<%- include("partials/header.ejs") %>

    <!--start ng homepage-->
    <div class="homepage">
        <h1>WELCOME TO</h1>
        <img alt="paint" class="homepage-img" src="images/homepage.png" height="40%">
        <h3>TELL YOUR STORY</h3>
        <button><a href="/create">BLOG NOW</a></button>
    </div>

<%- include("partials/footer.ejs") %>