<link rel="stylesheet" href="styles/main.css">

<%- include("partials/header.ejs") %>

    <!--start ng homepage-->
    <div class="homepage">
        <p>tngina</p>>
        <img alt="paint" class="homepage-img" src="images/hompage image.png">
        <button>Tngina?</button>
    </div>

<%- include("partials/footer.ejs") %>